force-app/main/default/flows/Update_disbursement_by_related_requirements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_acepred_requirements</name>
        <label>Set acepred requirements</label>
        <locationX>374</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>aceptedRequirements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Only_acepted_or_rejected_requirements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_requirements_acepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_total_quantity</name>
        <label>Set total quantity</label>
        <locationX>374</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Totalrequirements</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_requirements_by_Disbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Only_acepted_or_rejected_requirements</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Se filtran solo los requisitos en estado Aceptado o Rechazado</description>
        <name>Only_acepted_or_rejected_requirements</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Only acepted or rejected requirements</label>
        <locationX>374</locationX>
        <locationY>695</locationY>
        <assignNextValueToReference>currentItem_Only_acepted_or_rejected_requirements</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_requirements_by_Disbursement</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Only_acepted_or_rejected_requirements.outfunds__Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Accepted</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Only_acepted_or_rejected_requirements.outfunds__Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_acepred_requirements</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Valida si todos los requerimientos están aceptados</description>
        <name>All_requirements_acepted</name>
        <label>All requirements acepted?</label>
        <locationX>374</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Totalrequirements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>aceptedRequirements</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_disbursement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ByPasser</name>
        <label>By Passer</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_requirements_by_Disbursement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Bypasser__c.Disable_Autolaunched_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Valida el estado de los requerimientos asociados a un Desembolso (Disbursement) para cambiar su estado
+ [29/09/2022 Diego Jaca] Adición de estado (Rejected) en filtro para actualizar el Disbursement.</description>
    <environments>Default</environments>
    <interviewLabel>Update disbursement by related requirements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update disbursement by related requirements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtiene los requisitos relacionados al pago del registro en curso</description>
        <name>Get_requirements_by_Disbursement</name>
        <label>Get requirements by Disbursement</label>
        <locationX>374</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_total_quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>outfunds__Disbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.outfunds__Disbursement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>outfunds__Requirement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>outfunds__Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza el estado del Disbursement a (Pending Approval)</description>
        <name>Update_disbursement</name>
        <label>Update disbursement</label>
        <locationX>242</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.outfunds__Disbursement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>outfunds__Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <object>outfunds__Disbursement__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPasser</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>outfunds__Disbursement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>outfunds__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>outfunds__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>outfunds__Requirement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>aceptedRequirements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Only_acepted_or_rejected_requirements</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>outfunds__Requirement__c</objectType>
    </variables>
    <variables>
        <name>Totalrequirements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
